{% extends 'base.html.twig' %}

{% block title %}Edit Duree{% endblock %}

{% block body %}
    <h1>Edit Duree</h1>

    {{ include('duree/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_duree_index') }}">back to list</a>

    {{ include('duree/_delete_form.html.twig') }}
{% endblock %}
