{% extends 'base.html.twig' %}

{% block title %}New Duree{% endblock %}

{% block body %}
    <h1>Create new Duree</h1>

    {{ include('duree/_form.html.twig') }}

    <a href="{{ path('app_duree_index') }}">back to list</a>
{% endblock %}
