<form method="post" action="{{ path('app_infoperso_delete', {'id': info_perso.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ info_perso.id) }}">
    <button class="btn">Delete</button>
</form>
