{% extends 'base.html.twig' %}

{% block title %}Edit InfoPerso{% endblock %}

{% block body %}
    <h1>Edit InfoPerso</h1>

    {{ include('infoperso/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_infoperso_index') }}">back to list</a>

    {{ include('infoperso/_delete_form.html.twig') }}
{% endblock %}
